div#carouselExampleDark {
  height: 50%;
}

.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 90vh;
  width: 90vh;
}
.carousel-caption {
  text-align: center;
  justify-content: center;
  top: 40%;
  bottom: 0;

  position: absolute;
}
